
dataverse_files/data_years/

pickles/pickle_1987.pkl

pickles/pickle_1988.pkl

pickles/pickle_1989.pkl

pickles/pickle_1990.pkl

pickles/pickle_1991.pkl

pickles/pickle_1992.pkl

pickles/pickle_1993.pkl

pickles/pickle_1994.pkl

pickles/pickle_1995.pkl

pickles/pickle_1996.pkl

pickles/pickle_1997.pkl

pickles/pickle_1998.pkl

pickles/pickle_1999.pkl

pickles/pickle_2000.pkl

pickles/pickle_2001.pkl

pickles/pickle_2002.pkl

pickles/pickle_2003.pkl

pickles/pickle_2004.pkl

pickles/pickle_2005.pkl

pickles/pickle_2006.pkl

pickles/pickle_2007.pkl

pickles/pickle_2008.pkl

dataverse_files/data_other/airports.csv

dataverse_files/data_other/carriers.csv

dataverse_files/data_other/plane-data_capacity.xlsx

dataverse_files/data_other/plane-data.csv

dataverse_files/data_other/variable-descriptions.csv

excel_files/frequencies_for_days_of_week.xlsx

excel_files/frequencies_for_months.xlsx

excel_files/frequencies_for_time_of_day.xlsx

first_few_rows.xlsx

pickles/pickle_airports.pkl

pickles/pickle_carriers.pkl

pickles/pickle_plane-data.pkl

pickles/pickle_variable-descriptions.pkl

questions.md

*.xlsx

delay_vs_age.py

locations.py
.Rproj.user

.google-cookie

.RData

.RDataTmp

.Rhistory

coursework.Rproj

excel_files/question_3_data.csv

*.png

models_capacities.csv

pickles/delay_vs_age.pkl

planes_models.txt

dataverse_files/question_3_data.csv

*.pkl

dataverse_files/q4_cascades_data_python.csv

dataverse_files/q4_cascades_data_R.csv

q4_output_R.txt

project_workspace.RDataTmp

project_workspace.RData
